


.header {
  max-width: 1500px;
  width: 95%;
  margin: 80px auto 0;
  /* position: relative; */
  background-image: url('home_image/home.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  z-index: 999;
  top: -10px;
}

.header h1 {
  font-size: 55px;
  /* position: absolute; */
  margin-left: 50px;
  top: 100px;
  color: #fff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.header p {
  font-size: 25px;
  /* position: absolute; */
  margin-left: 50px;
  top: 250px;
  color: #fff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

.container {
  max-width: 1500px;
  flex: 1;
}

/* <!-- Navi --> */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #e6ebec;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1500px;
  height: 80px;
  z-index: 1000;
}


li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  font-size: 20px;
  padding: 16px 18px;
  text-decoration: none;
  line-height: 47px;
}

li a:hover:not(.active) {
  color: #fff;
  background-color: rgb(89, 154, 154)
}

li a.active {
  color: white;
  background-color: rgb(3, 80, 80);
}

/* button google */
.button-center {
  position: absolute;
  top: 20px;
  right: 15px;
}

.btn-primary {
  width: 150px;
  height: 50px;
  background-color: rgb(0, 101, 101);
  outline: none;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(89, 154, 154) !important;
}

/* cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 999;
  margin-top: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(0, 101, 101);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card-container h4 {
  margin-top: 10px;
  font-size: 28px;
  color: #000000;
}

.card-container p {
  font-size: 20px;
  color: #000000;
}

.container-card {
  padding: 2px 16px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: calc(33.33% - 40px);
  margin: 20px;
  border: 1px;
  background-color: #f3f3f3;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 30px);
    margin: 20px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.footer {
  background-color: #d1d1d1;
  padding: 20px 0;
  max-width: 1700px;
  max-height: 1600px;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 50px !important;
}


.color-box {
  width: 1500px;
  height: 118vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: -1;
  filter: drop-shadow(0 0 2px rgba(71, 71, 71, 0.8));
}


body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, rgb(237, 237, 237), rgb(231, 231, 231));
  z-index: -2;
}