
/* <!-- Navi --> */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #e6ebec;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1500px;
  height: 80px;
  z-index: 1000;
}


li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  font-size: 20px;
  padding: 16px 18px;
  text-decoration: none;
  line-height: 47px;
}

li a:hover:not(.active) {
  color: #fff;
  background-color: rgb(89, 154, 154)
}

li a.active {
  color: white;
  background-color: rgb(3, 80, 80);
}