body {
  position: relative;
  top: 5em;
  width: 90%;
  margin: 0 auto;
}

/* <!-- Navi --> */
.navContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #e6ebec;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1500px;
  height: 80px;
  z-index: 1000;
}

.navContainer li {
  float: left;
}

.navContainer li a {
  display: block;
  color: #666;
  text-align: center;
  font-size: 20px;
  padding: 16px 18px;
  text-decoration: none;
  line-height: 47px;
}

.navContainer li a:hover:not(.active) {
  color: #fff;
  background-color: rgb(89, 154, 154);
}

.navContainer li a.active {
  color: white;
  background-color: rgb(3, 80, 80);
}

.navContainer .plan {
  margin-top: 150px;
}

/* Button */
.navContainer button {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 138px;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 50px;
  border-radius: 20px !important;
  border: none !important;
  outline: 1px solid rgb(201, 255, 255);
  background-color: rgb(0, 101, 101) !important;
  cursor: pointer;
}

.navContainer button:hover {
  background-color: rgb(89, 154, 154) !important;
}

/* Button */
#submit-button {
  display: flex;
  justify-content: center;
}

.submit-button {
  text-align: center;
  color: #fff;
  width: 120px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgb(0, 101, 101);
  cursor: pointer;
}

.submit-button button {
  margin: 1 auto;
}

.submit-button:hover {
  background-color: rgb(89, 154, 154);
}
